.row {
    margin-bottom: 2em;
}

/* .row2 {
    background-color: pink;
}

.weather {
    background-color: pink;
} */

.row1 {
    height: 12em;
}
#current-btn {
    margin: 10px;
}

#future-btn {
    margin: 10px;
}

.weather-info {
    text-align: left;
}



